body:not(.header-simple) #Top_bar #menu { display:block !important; }

/* main menu 2nd level - MegaMenu */
#Top_bar .menu > li > ul.mfn-megamenu { width:984px; }
#Top_bar .menu > li > ul.mfn-megamenu > li { float:left;}
#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-1 { width:100%;}
#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-2 { width:50%;}
#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-3 { width:33.33%;}
#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-4 { width:25%;}
#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-5 { width:20%;}
#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-6 { width:16.66%;}
#Top_bar .menu > li > ul.mfn-megamenu > li > ul { display:block !important; position:inherit; left:auto; top:auto; border-width: 0 1px 0 0; }
#Top_bar .menu > li > ul.mfn-megamenu > li:last-child > ul{ border: 0; }
#Top_bar .menu > li > ul.mfn-megamenu > li > ul li { width: auto; }

#Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title { text-transform: uppercase; font-weight:400;}
#Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title:hover { background:none;}

#Top_bar .menu > li > ul.mfn-megamenu a .menu-arrow { display: none; }

/* MegaMenu with Background */
#Top_bar .menu > li > ul.mfn-megamenu-bg { padding:20px 166px 20px 20px; background-repeat:no-repeat; background-position: bottom right; }
#Top_bar .menu > li > ul.mfn-megamenu-bg > li { background:none;}
#Top_bar .menu > li > ul.mfn-megamenu-bg > li a { border:none;}
#Top_bar .menu > li > ul.mfn-megamenu-bg > li > ul { background:none !important;
	-webkit-box-shadow: 0 0 0 0;
	-moz-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
}

/* #Header.is-sticky */
#Top_bar.is-sticky { position:fixed; width:100%; left:0; top:-60px; height:60px; z-index:701; background:#fff; opacity:.97; filter: alpha(opacity = 97);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

#Top_bar.is-sticky .top_bar_left,
#Top_bar.is-sticky .top_bar_right,
#Top_bar.is-sticky .top_bar_right:before { background:none;}
#Top_bar.is-sticky .top_bar_right { top:-4px;}

#Top_bar.is-sticky .logo { width:auto; margin: 0 30px 0 20px; padding:0;}
#Top_bar.is-sticky #logo { padding:5px 0; height:50px; line-height:50px;}
#Top_bar.is-sticky #logo img { max-height:35px; width: auto !important;}

#Top_bar.is-sticky .menu_wrapper { clear:none;}
#Top_bar.is-sticky .menu_wrapper .menu > li > a  { padding:15px 0;}

#Top_bar.is-sticky .menu > li > a,
#Top_bar.is-sticky .menu > li > a span { line-height:30px;}
#Top_bar.is-sticky .menu > li > a:after { top:auto; bottom:-4px;}

#Top_bar.is-sticky .menu > li > a span.description { display:none;}

#Top_bar.is-sticky #header_cart { top:27px;}
#Top_bar.is-sticky #search_button { top:25px;}
#Top_bar.is-sticky a.button.action_button { top:13px;}
#Top_bar.is-sticky .wpml-languages { top:15px;}

#Top_bar.is-sticky .secondary_menu_wrapper,
#Top_bar.is-sticky .banner_wrapper { display:none;}

	.header-simple #Top_bar.is-sticky .responsive-menu-toggle { top:12px;}
	
	.header-overlay #Top_bar.is-sticky { display:none;}

	/* Sticky dark */
	.sticky-dark #Top_bar.is-sticky { background: rgba(0,0,0,.8); }
	.sticky-dark #Top_bar.is-sticky .menu > li > a { color: #fff; }
	.sticky-dark #Top_bar.is-sticky .top_bar_right a { color: rgba(255,255,255,.5); }
	.sticky-dark #Top_bar.is-sticky .wpml-languages a.active,
	.sticky-dark #Top_bar.is-sticky .wpml-languages ul.wpml-lang-dropdown { background: rgba(0,0,0,0.3); border-color: rgba(0, 0, 0, 0.1); }

/* .header-simple | Mobile Menu */	
	.header-simple #Top_bar #menu { display:none; height: auto; width: 300px; bottom: auto; top: 60px; right: 1px; position: absolute; margin: 0px; background:#fff;}

	.header-simple #Header a.responsive-menu-toggle { display:block; width: 35px; height: 35px; line-height: 35px; font-size: 25px; text-align: center; position:absolute; top: 28px; right: 10px; -webkit-border-radius: 3px; border-radius: 3px; }
	.header-simple #Header a:hover.responsive-menu-toggle { text-decoration: none; }

	/* main menu 1st level */
	.header-simple #Top_bar #menu > ul { width:100%; float: left; }
	.header-simple #Top_bar #menu ul li	{ width: 100%; padding-bottom: 0; border-right: 0; position: relative; }
	.header-simple #Top_bar #menu ul li	a { padding:0 20px; margin:0; display: block; height: auto; line-height: normal; border:none; }
	.header-simple #Top_bar #menu ul li	a:after { display:none;}
	.header-simple #Top_bar #menu ul li	a span { border:none; line-height:48px; display:inline; padding:0;}
	.header-simple #Top_bar #menu ul li.submenu .menu-toggle { display:block; position:absolute; right:0; top:0; width:48px; height:48px; line-height:48px; font-size:30px; text-align:center; color:#d6d6d6; border-left:1px solid #eee; cursor:pointer;}
	.header-simple #Top_bar #menu ul li.submenu .menu-toggle:after { content:"+"}
	.header-simple #Top_bar #menu ul li.hover > .menu-toggle:after { content:"-"}
	.header-simple #Top_bar #menu ul li.hover a { border-bottom: 0; }
	
	.header-simple #Top_bar #menu ul.mfn-megamenu li .menu-toggle { display:none;}

	/* main menu 2nd level */
	.header-simple #Top_bar #menu ul li	ul { position:relative !important; left:0 !important; top:0; padding: 0; margin-left: 0 !important; width:auto !important; background-image:none;}
	.header-simple #Top_bar #menu ul li	ul li { width:100% !important;}
	.header-simple #Top_bar #menu ul li	ul li a { padding: 0 20px 0 30px;}
	.header-simple #Top_bar #menu ul li ul li a .menu-arrow { display: none;}
	.header-simple #Top_bar #menu ul li	ul li a span { padding:0;}
	.header-simple #Top_bar #menu ul li	ul li a span:after { display:none !important;}
	
	.header-simple #Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title { text-transform: uppercase; font-weight:400;}
	.header-simple #Top_bar .menu > li > ul.mfn-megamenu > li > ul { display:block !important; position:inherit; left:auto; top:auto;}
	
	/* main menu 3rd level */
	.header-simple #Top_bar #menu ul li	ul li ul { border-left: 0 !important; padding: 0; top: 0; }
	.header-simple #Top_bar #menu ul li	ul li ul li a { padding: 0 20px 0 40px;}
	
/* Header Creative */	
body.header-creative { padding-left:50px;}
body.header-creative.header-open { padding-left:250px;}

#Header_creative { background: #fff; }
	
#Header_creative { position: fixed; width: 250px; height: 100%; left: -200px; top: 0; z-index: 1001; -webkit-box-shadow: 2px 0 4px 2px rgba(0,0,0,.15); box-shadow: 2px 0 4px 2px rgba(0,0,0,.15); }
#Header_creative .container { width: 100%; }
#Header_creative .creative-wrapper { display: none; }

#Header_creative a.creative-menu-toggle { display:block; width: 35px; height: 35px; line-height: 35px; font-size: 25px; text-align: center; position:absolute; top: 10px; right: 8px; -webkit-border-radius: 3px; border-radius: 3px; }
.admin-bar #Header_creative a.creative-menu-toggle { top: 42px; }

#Header_creative #Top_bar { position: static; }
#Header_creative #Top_bar { width: 100%; }
#Header_creative #Top_bar .top_bar_left { width: 100% !important; float: none; }
#Header_creative #Top_bar .top_bar_right { width: 100% !important; float: none; text-align: center; padding: 0 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#Header_creative #Top_bar .top_bar_right:before { display: none; }
#Header_creative #Top_bar .logo { float: none; text-align: center; margin: 15px 0; }
#Header_creative #Top_bar .menu_wrapper { float: none; margin-bottom: 40px; }
#Header_creative #Top_bar .menu > li { width: 100%; float: none; position: relative; }
#Header_creative #Top_bar .menu > li > a { padding: 0; text-align: center; }
#Header_creative #Top_bar .menu > li > a:after { display: none; }
#Header_creative #Top_bar .menu > li > a span { border-right: 0; border-bottom-width: 1px; line-height:38px; }
#Header_creative #Top_bar .menu li ul { left: 100%; top: 0; }
#Header_creative #Top_bar .menu > li > ul.mfn-megamenu { width: 700px !important; }
#Header_creative #Top_bar .menu > li > ul.mfn-megamenu > li > ul { left: 0; }
#Header_creative #Top_bar .menu li ul li a { padding-top:9px; padding-bottom:8px; }
#Header_creative #Top_bar .menu li ul li ul { top: 0 !important; }
#Header_creative #Top_bar .menu > li > a span.description { display:block; font-size:13px; line-height:28px !important; clear:both;}
#Header_creative #Top_bar .search_wrapper { left: 100%; top: auto; bottom: -90px; }
#Header_creative #Top_bar a#header_cart { display: inline-block; float: none; top: 3px; }
#Header_creative #Top_bar a#search_button { display: inline-block; float: none; top: 3px; }
#Header_creative #Top_bar a.button.action_button { display: inline-block; float: none; top: 0; margin-bottom: 0; margin-top: 10px; }
#Header_creative #Top_bar .wpml-languages { display: inline-block; float: none; top: 0; }
#Header_creative #Top_bar .wpml-languages.enabled:hover a.active { padding-bottom: 9px; }

#Header_creative #Action_bar { position: absolute; bottom: 0; top: auto; clear: both; padding: 0 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#Header_creative #Action_bar .social { float: none; text-align: center; }
#Header_creative #Action_bar .social li { margin-bottom: 2px; }
#Header_creative .social li a { color: rgba(0,0,0,.5); }
#Header_creative .social li a:hover { color: rgb(0,0,0); }

#Header_creative .creative-social { position: absolute; bottom: 10px; right: 0; width: 50px; }
#Header_creative .creative-social li { display: block; float: none; width: 100%; text-align: center; margin-bottom: 5px; }

.menuo-right #Top_bar .menu_wrapper { float: right;}
.menuo-right.header-stack #Top_bar .menu_wrapper { margin-right:150px;}

.header-creative .fixed-nav.fixed-nav-prev { margin-left:50px;}
.header-creative.header-open .fixed-nav.fixed-nav-prev { margin-left:250px;}

.menuo-last #Header_creative #Top_bar .menu li.last ul { top:auto; bottom:0;}

/* Always Open */
.header-open #Header_creative { left:0;}
.header-open #Header_creative .creative-wrapper { display:block;}
.header-open #Header_creative .creative-menu-toggle,
.header-open #Header_creative .creative-social { display:none;}

/* Menu highlight */
.menu-highlight #Top_bar .menu > li { margin: 0 2px; }
.menu-highlight:not(.header-creative) #Top_bar .menu > li > a { margin: 20px 0; padding: 0; -webkit-border-radius: 5px; border-radius: 5px; }
.menu-highlight #Top_bar .menu > li > a:after { display: none; }
.menu-highlight #Top_bar .menu > li > a span:not(.description) { border-right-width: 0; line-height: 50px; }
.menu-highlight #Top_bar .menu > li > a span.description { display: none; }

.menu-highlight.header-stack #Top_bar .menu > li > a { margin: 10px 0; }
.menu-highlight.header-stack #Top_bar .menu > li > a span:not(.description) { line-height: 40px; }

.menu-highlight.header-fixed #Top_bar .menu > li > a { margin: 10px 0; padding: 5px 0; }
.menu-highlight.header-fixed #Top_bar .menu > li > a span { line-height:30px;}

.menu-highlight.header-transparent #Top_bar .menu > li > a { margin: 5px 0; }

.menu-highlight.header-simple #Top_bar #menu ul li,
.menu-highlight.header-creative #Top_bar #menu ul li { margin: 0; }
.menu-highlight.header-simple #Top_bar #menu ul li > a,
.menu-highlight.header-creative #Top_bar #menu ul li > a { -webkit-border-radius: 0; border-radius: 0; }

.menu-highlight:not(.header-simple) #Top_bar.is-sticky .menu > li > a { margin: 10px 0 !important; padding: 5px 0 !important; }
.menu-highlight:not(.header-simple) #Top_bar.is-sticky .menu > li > a span { line-height:30px !important;}


/* Header Stack Center */
.header-stack.header-center #Top_bar #menu { display: inline-block !important;}


/* Header Semitransparent */
.header-semi #Top_bar:not(.is-sticky) { position: absolute; background-color: rgba(255, 255, 255, 0.8);}	
.header-semi.ab-show #Top_bar:not(.is-sticky) { top: 45px !important; }	
.header-semi.ab-hide #Top_bar:not(.is-sticky) { top: 0 !important; }
